
#organizar-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 20em));
    gap: 3%;
    padding: 0;
    margin: auto;
}

.card-content {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 5px 5px #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    transition: 700ms;
    margin: 10px;
}

.card-content img {
    width: 70%;
    height: 70%;
}

.image-square {
    max-height: 300px;
}

.space {
    display: flex;
    flex-direction: column;
}

.card-content h4 {
    font-size: 1.35em;
    margin: 0.5em 0;
    font-weight: bold;
}

.card-content .card-body {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
   
}

.card-content .card-body button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
    align-items: center;
    padding: 0;
    margin: 0;
}

.alinhar-botoes {
    display: flex;
    align-items: center;
    padding: 10px 0px 25px 0px;
    margin: 0;
}

.alinhar-botoes button {
    font-size: 0.9em;
    border: none;
    background-color: #fff;
    transition: 700ms;
    padding: 0 10px 0 0;
}

.card-content:hover .alinhar-botoes button:hover {
    color: rgb(0, 0, 0)
}

.card-content:hover .alinhar-botoes button {
    background-color: lightslategray;
    color: #fff;
    transition: 300ms;
    border: none;
}

.card-content:hover{
    background-color: lightslategray;
    color: #fff;
    transition: 300ms;
}

.card-content:hover button{
    color: #000;
    background-color: #fff;
}



@media screen and (max-width:576px) {
    .card-content {
        font-size: 0.9em;
    }
}

