main {
    padding: 0px 20px 0px 20px;
}

#organizar-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 3%;
}

.card-content img {
    width: 100%;
    height: auto;
    justify-content: center;

}

.align-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

